<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" type="text/css" href="static/estilo.css">
<head>
    <meta charset="UTF-8">
    <title>Registro</title>
</head>
<body>
<div class="contenedor">
    <h2>Registro</h2>
    <div class="contenedor-inputs">
<form action="/guardar" method="post">
    <input name="usuario" type="text" placeholder="Usuario">
     <input name="placa" type="text" placeholder="Placa">
     <input name="revisiones" int(+1) type="text" placeholder="Revisiones">

    <input type="submit" value="Guardar">
</form>

</body>
</html>