{% with messages = get_flashed_messages() %}
{% if messages %}
{% for message in messages %}
 <p>{{ message }}</p>
{% endfor %}
{% endif %}
{% endwith %}
{% extends "base.html" %}
{% block title %}
Sign Up
{% endblock %}
{% block content %}
<h1>Sign Up</h1>
<form method="post" action="{{ url_for('signup') }}">
	<p><input name="username" type="text"></p>
	<p><input name="password" type="password"></p>
	<input type="submit" value="Sign Up">
</form>

<table>
<thead>
<tr>
	<td>username</td>
	<td>password</td>
	<td>operations</td>
</tr>

</thead>
	<tbody></tbody>


 </table>
{% endblock %}