<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{%block title%} {%endblock%}</title>
</head>
<body>
<nav class="menu">
    <label for="" class="logo">Registro De Motos :D</label>
    <ul class="menu-opc">
        <li>
            <a href="/">Home</a>
        </li>
        <li>
            <a href="">Inicio De Sesion</a>
        </li>
        <li>
            <a href="">Registro</a>
        </li>
    </ul>

</nav>
    {%block content%}

    {%endblock%}
</body>
</html>