<html>
	<head>
		<title>Gestion De Clientes</title>
		<link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">
	</head>
	<body>
		<h1>Gestion De Clientes😴</h1>

		<h4>
			{% with messages = get_flashed_messages() %}
				{% if messages %}
					{% for message in messages %}
						{{ message }}
					{% endfor %}
				{% endif %}
			{% endwith %}
		</h4>

		<p><a href="{{url_for('addUsers')}}">📙Añadir Clientes</a></p>
		<table>
			<tr>
				<th>👍ID</th>
				<th>👤NOMBRE</th>
				<th>📱CELULAR</th>
				<th>💰SALDO PENDIENTE</th>
				<th>✏️EDITAR CLIENTE</th>
				<th>🗑️BORRAR AL CLIENTE</th>
			</tr>
			{% for data in datas %}
				<tr>
					<td>{{data.ID}}</td>
					<td>{{data.NAME}}</td>
					<td>{{data.AGE}}</td>
					<td>{{data.CITY}}</td>
					<td><a href="{{url_for('editUser',id=data.ID)}}">Editar</a></td>
					<td><a onclick="return confirm('Estas seguro de eliminarlo?');" href="{{url_for('deleteUser',id=data.ID)}}">Eliminar</a></td>
				</tr>
			{% endfor %}
		</table>
	</body>
</html>