<!doctype html>
<link rel="stylesheet" type="text/css" href="static/estilo.css">
<html lang="en">
<head>
    <div class="contenedor">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

</head>
<body>
  <div class="navbar-brand">
    </a>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>
</nav>
    {% block body %}{% endblock %}
    <div></div>
</body>
</html></html>